<div class="background-image">
  <button mat-fab color="primary" class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="card-container">
    <div class="card red">
      <h2>PRODUCTS</h2>
      <a class="nav-link" routerLink="/product">
        <img src="../../assets/pann.png" alt="Image 1">
        <br>
        <span class="arrow">
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50px" height="50px">
            <circle cx="12" cy="12" r="10" stroke="#fff" fill="none" />
            <path fill="#FFFFFF" d="M16.59 11H5v2h11.59l-3.29 3.29L14 17l6-6-6-6-1.41 1.41L16.59 11z" />
          </svg>
        </span>
      </a>
    </div>
    
    <div class="card blue">
      <h2>CATEGORY</h2>
      <a class="nav-link" routerLink="/category">

      <img src="../../assets/cat.png" alt="Image 2">          <br>

      <span class="arrow">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50px" height="50px">
          <circle cx="12" cy="12" r="10" stroke="#fff" fill="none" />
          <path fill="#FFFFFF" d="M16.59 11H5v2h11.59l-3.29 3.29L14 17l6-6-6-6-1.41 1.41L16.59 11z" />
        </svg>
        
      </span>     
      </a> </div>
    <div class="card green">
      <h2>SHOPS</h2>
      <a class="nav-link" routerLink="/shops">

      <img src="../../assets/shop.png" alt="Image 3">          <br>

      <span class="arrow">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50px" height="50px">
          <circle cx="12" cy="12" r="10" stroke="#fff" fill="none" />
          <path fill="#FFFFFF" d="M16.59 11H5v2h11.59l-3.29 3.29L14 17l6-6-6-6-1.41 1.41L16.59 11z" />
        </svg>
        
      </span>      
      </a></div>
    <div class="card yellow">
      <h2>REDUCTION</h2>
      <a class="nav-link" routerLink="/reduction">

      <img src="../../assets/reduction.png" alt="Image 4">          <br>

      <span class="arrow">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50px" height="50px">
          <circle cx="12" cy="12" r="10" stroke="#fff" fill="none" />
          <path fill="#FFFFFF" d="M16.59 11H5v2h11.59l-3.29 3.29L14 17l6-6-6-6-1.41 1.41L16.59 11z" />
        </svg>
        
      </span>      
      </a></div>
  </div>

</div>

  <div class="navigation-buttons">
    <button mat-fab color="primary" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
