<body>
  <header class="header">
    <div class="logo">
      <img src="../../assets/reduction.png" alt="Logo">
    </div>
    <h1 class="header-title">Reduction</h1>
    <div class="search-bar">
      <input type="text" placeholder="Search for products..." class="search-input" [(ngModel)]="searchInput">
      <button class="search-button" (click)="searchReduction()">Search</button>
      <button class="search-button" (click)="resetSearch()">Reset</button>
    </div>
  </header>

  <br>

  <button mat-fab color="primary" class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="card-container">
    <div class="card" *ngFor="let r of reduction;">
      <div class="card-content">
        <div class="row">
          <div class="col-md-6">
            <img [src]="r.safeImageProduct" alt="Image du produit" class="product-image"> <!-- Updated property name -->
          </div>
          <div class="col-md-6">
            <h2 class="card-title">{{ r.product.nameProduct }}</h2>
            <h4>Original Price : {{ r.product.price }} dt</h4>
           
              <span>New price : {{ r.newprice }} dt</span>
            <h4>Reduction : {{ r.pourcentage }}%</h4>
            <h3 class="card-title">Brand : {{ r.product.shop.nameShop }}</h3>
            <p class="card-description">{{ r.product.descriptionProduct }}</p>
            <a (click)="showImageOnClick(r.safeLocalizationImage)" class="card-link">View Shop</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <button mat-fab color="primary" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</body>
