
 <div class="d-flex" id="wrapper">

  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">BFI </div>
    <hr/>
    <div class="list-group list-group-flush">

     
                <div class="btn-group shadow-0">
                  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> 
                    Référentiel
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/referentiel">Accueil du Référentiel</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" routerLink="/client">Client</a></li>
                    <li><a class="dropdown-item" routerLink="/agence">Agence</a></li>
                    <li><a class="dropdown-item" routerLink="/contact">Contact</a></li>
                    <li><a class="dropdown-item" routerLink="/pays">Pays</a></li>
                    <li><a class="dropdown-item" routerLink="/devise">Devise</a></li>
                  </ul>
                </div>
                
          
      <hr/>
      <div class="btn-group shadow-0">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" > 
          Dave
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dave">Accueil du Dave</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" routerLink="/contratcompte">Contrat du compte</a></li>
          <li><a class="dropdown-item" routerLink="/solde">Solde du compte</a></li>
          <li><a class="dropdown-item" routerLink="/comptedave">Compte bancaire</a></li>
        </ul>
      </div>

        <hr/>

<div class="btn-group shadow-0">
  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" > 
    Engagement
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="/engagement">Accueil du Engagement</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" routerLink="/contratcredit">Contrat du crédit</a></li>
    <li><a class="dropdown-item" routerLink="/creditpret">Crédit prêt </a></li>
    <li><a class="dropdown-item" routerLink="/creditrenouvelable">Crédit renouvelable</a></li>

  </ul>
</div>
    <hr/>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
         
          <div class="container-fluid">
            <button class="btn btn-sm btn-outline-secondary" (click)="clickEvent()">≡</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-sm btn-outline-secondary" type="button">Rechercher</button>
              </form>
            </div>
          </div>
        </nav>
          <div class="container">
            <div class="card mt-5" style="align-items: center;">
              <h1>Référentiel ➺ Agence </h1>
            </div>

            <div class="card mt-5" style="padding: 20px;">
              <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" >

                <div class="form-group">
                  <label for="codeInterne">Code Interne:</label>
                  <input type="text" #codeInterne (ngModel)="codeInterne" name="codeInterne" id="codeInterne" class="form-control"
                    placeholder="codeInterne">
                </div>
                <div class="form-group">
                  <label for="libCou">Libellé Court:</label>
                  <input type="text" #libCou (ngModel)="libCou" name="libCou" id="libCou" class="form-control"
                    placeholder="libCou">
                </div>
                <div class="form-group">
                  <label for="libLong">Libellé Long :</label>
                  <input type="text" #libLong (ngModel)="libLong" name="libLong" id="libLong" class="form-control"
                    placeholder="libLong">
                </div>
                <br/>
                <div class="form-group">
                  <input type="submit" value="Ajouter" class="btn btn-sm btn-outline-secondary w-100">
                </div>
              </form>
            </div>

           

            
            <div class="mt-5">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>idAgence</th>
                    <th>codeInterne</th>
                    <th>libCou</th>
                    <th>libLong</th>                      
                    <th>Modifier</th>
                    <th>Supprimer</th>

                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let agence of agenceDetails">
                    <td>{{agence.idAgence}}</td>
                    <td>{{agence.codeInterne}}</td>
                    <td>{{agence.libCou}}</td>
                    <td>{{agence.libLong}}</td>

                    <td><button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal"
                        (click)="edit(agence)">✎</button></td>
                    <td><button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteAgence(agence)">❌</button></td>
              

                 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

                      
          <div class="mt-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>idContact</th>
                  <th>adresse</th>
                  <th>codePostal</th>
                  <th>telephone</th>
                  <th>fax</th>
                  <th>email</th>


                </tr>
              </thead>
              <tbody class="tbody">
                <tr *ngFor="let contact of contactDetails">
                  <td>{{contact.idContact}}</td>
                  <td>{{contact.adresse}}</td>
                  <td>{{contact.codePostal}}</td>
                  <td>{{contact.telephone}}</td>
                  <td>{{contact.fax}}</td>
                  <td>{{contact.email}}</td>


               
                </tr>
              </tbody>
            </table>
          </div>

          <div class="mt-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>idPays</th>
                  <th>codeTelephoniqueRegional</th>
                  <th>nom</th>
                  <th>codeNumerique</th>
                  <th>nomTraduit</th>
                  <th>nationalite</th>
                  <th>conventionFiscale</th>
                  <th>embargo</th>


                </tr>
              </thead>
              <tbody class="tbody">
                <tr *ngFor="let pays of paysDetails">
                  <td>{{pays.idPays}}</td>
                  <td>{{pays.codeTelephoniqueRegional}}</td>
                  <td>{{pays.nom}}</td>
                  <td>{{pays.codeNumerique}}</td>
                  <td>{{pays.nomTraduit}}</td>
                  <td>{{pays.nationalite}}</td>
                  <td>{{pays.conventionFiscale}}</td>
                  <td>{{pays.embargo}}</td>
                </tr>
              </tbody>
            </table>
          </div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier agence</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        </button>
      </div>



      <!-- Modal body -->
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateAgence()">
          <div class="form-group">
            <label for="idAgence"> idAgence :</label>
            <input type="number" disabled="" #idAgence [(ngModel)]="agenceToUpdate.idAgence" name="idAgence" id="idAgence"
              class="form-control" placeholder="idAgence">
          </div>
          <div class="form-group">
            <label for="codeInterne">codeInterne :</label>
            <input type="text" #codeInterne [(ngModel)]="agenceToUpdate.codeInterne" name="codeInterne" id="codeInterne" class="form-control"
              placeholder="codeInterne">
          </div>
          <div class="form-group">
            <label for="libCou">libCou :</label>
            <input type="text" #libCou [(ngModel)]="agenceToUpdate.libCou" name="libCou" id="libCou"
              class="form-control" placeholder=" libCou">
          </div>
          <div class="form-group">
            <label for="libLong">libLong :</label>
            <input type="text" #libLong [(ngModel)]="agenceToUpdate.libLong" name="libLong" id="libLong"
              class="form-control" placeholder="libLong">
          </div>


          <div class="form-group">
            <input type="submit" value="Modifier" class="btn btn-primary w-100">
          </div>
        </form>
      </div>



    </div>
  </div>
</div>




        
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!--        /#wrapper -->

    