<body>
    
  <div class="container">
      <img src="../../assets/l.png" class="image" alt="Description de l'image">
      <div class="button-container">
          
        <button class="button" routerLink="/search" >Arabic</button>
        <button class="button" routerLink="/search" >English</button>
      </div>
    </div>
    <div class="navigation-buttons">
  
      <button mat-fab color="primary" routerLink="/login" >
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      
    </div>
  </body>
  